@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --app-colors-bg: #003b82;
    --app-colors-white: #fff;
    --app-colors-milky: #cfcfcf;
    --app-colors-bg-dark: rgb(0, 31, 46);
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--app-colors-bg);
    color: var(--app-colors-white);
    width: 100%;
}
